:root {
  --blanco: white;
  --blanco-2: white;
  --negro: black;
  --negro-5: black;
  --negro-7: black;
  --tipo-titular: "Playfair Display", serif;
  --tipo-principal: "Inter", sans-serif;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --blanco: white;
    --blanco-2: white;
    --negro: black;
    --negro-5: black;
    --negro-7: black;
  }
}

* {
  margin: 0;
  
  /* padding: 0;
  border: 0; */
  box-sizing: border-box;
  /* vertical-align: baseline; */
}



.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 0px;
  cursor: pointer;
  display: none;
}


#check{
  display: none;
}

/* img,
figure {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
} */

/* a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: none;
} */

/* video {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
} */

/* p a {
  display: inline;
} */

/* li {
  list-style-type: none;
} */

/* table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
} */

/* html {
  scroll-behavior: smooth;
} */

/* h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
} */

/* form,
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: flex;
  color: inherit;
} */

/* body {
  margin: 0;
  font-family: var(--tipo-principal);
  font-size: 100%;
  min-height: 100vh;
  background-color: black;
  color: black;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
} */

.header {
  background-color: black;
  width: 100%;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav{
  display: flex;
  justify-content:center;
  margin-bottom: 90px;
}

.nav-link{
  color: white;
  text-decoration: none;
  
}

.ul{
  display: flex;
  list-style: none;
  margin-top: 30px;
}

.li{
  font-size: 25px;
  margin: 0 10px;
  line-height: 60px;
  width: max-content;
}

.nav-toggle{
  color: white;
  background: none;
 border: none;
 font-size: 40px;
 /* padding: 0 20px; */
 margin-top: 10px;
 cursor: pointer;

 display: none;
}



.circulos .circulo4 .path {
  fill: #588157;
}



.header .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header .li {
  margin: 0 1em;
}

.main {
  background: black;
  margin: 0 0 0 0;
  text-align: center;
  position: relative;
  margin-top: 80px;
}

.seccion {
  width: 100%;
  min-height: 80vh;

  margin: 1em 0;
  padding: 2em;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.seccion .info {
  font-size: 1.2em;
  animation: aparecer1 2s ease 1 both;
}

.seccion .h2 {
  font-family: var(--tipo-titular);
  font-weight: 600;
  font-size: 5em;
  line-height: 1em;
  color: white;
  mix-blend-mode: exclusion;
}

.seccion .h3 {
  font-family: var(--tipo-titular);
  font-size: 3.6em;
  color: white;
}

.section .h3 {
  font-family: var(--tipo-titular);
  font-size: 2.5em;
  color: white;
}

.seccion .grid {
  width: 90%;
  max-width: 60em;
  margin: 1em 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1em;
  color: black;
}

.seccion .article {
  width: 100%;
  min-height: 10vh;
  background: lightgoldenrodyellow;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  border-radius: 1em;
}

.seccion .figure {
  width: 100%;
}

.seccion .img {
  width: 100%;

  display: block;
  margin: auto;
  border-radius: 10px;
}

.seccion .info .img {
  width: 30%;
  background: lime;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.log {
  justify-content: center;
}

.seccion .h4 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  color: black;
  font-size: 1.8em;
  font-style: var(--tipo-titular);
  font-style: italic;

  opacity: 0;
  transition: all 0.5s ease;
}

.seccion .h4:hover {
  opacity: 1;
  border-radius: 10px;
}

.works .h2 {
  margin: 0 0 2rem;
  color: white;
}

.about .h2 {
  margin: 0 0 2rem;
  color: white;
}

.about .p {
  max-width: 40em;
  margin: 0 0 1em;
  text-align: left;
  font-size: 1.2rem;
  text-align: left;
  text-align: justify;
  color: white;
}

.about .rrss {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.about .li {
  margin: 0 1em;
}

.about .svg {
  width: 4em;
  height: 4em;
  color: white;
}

.footer {
  background-color: white;
  padding: 2em 0;
  text-align: center;
  color: black;
  position: relative;
}

.flecha {
  height: 50px;
}

@keyframes circulo1 {
  0% {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}

@keyframes aparecer1 {
  from {
    opacity: 0;
    transform: translateY(120%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

#cursor {
  width: 5em;
  height: 5em;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: difference;
}
#cursor.mini {
  transform: scale(0.7);
}

.bi-arrow-down {
  padding-bottom: 1rem;
}

@media (max-width: 670px) {

  body{
    padding-top: -20px;
  }

  #cursor{
    display: none;
  }

  .header{
    height: 90px;
  }

  .nav{
    flex-direction: column;
  }

  .ul{
    flex-direction:column;
    align-items: center;
     margin: 0;
     background-color: black;
     position: fixed;
     left: 0;
     top: 60px;
     width: 100%;
     padding: 20px 0;

     left: 100%;
     transition: left 0.3s;
  }

  .li{
    line-height: 70px;

  }

  
.nav-toggle{
  display: block;
}

.nav-menu_visible{
  left: 0;
}


 
  .section .h2 {
    font-family: var(--tipo-titular);
    font-size: 3em;
    color: white;
  }


  .section .h3 {
    font-family: var(--tipo-titular);
    font-size: 1.8em;
    color: white;
  }

}
